.b1 {
    align-items: center;
    text-align: center;

}

@keyframes boxanima {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: #ffffff
    ;
}

header {
    position: sticky;
    top: 0;
    border-bottom: solid 1px rgb(141, 139, 139);
}

nav div img {
    width: 200px;
    margin-left: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Kaisei Decol", serif;
}

nav ul {
    display: flex;
    gap: 45px;
    margin-right: 20px;

}

nav ul li {
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.main>div {
    margin: 50px;
}

.main>h3 {
    border-bottom: solid 2px black;
    text-align: center;
}

.main {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 30px;
}

.descri {
    font-size: 25px;
    margin-left: 20px
}

.card {
    border: 1px solid black;
    
    padding: 30px;
    box-shadow: black 10px 9px 17px 5px;
    background-color: #535C91;
    width: 500px;
    text-align: center;
}


.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}