.b1 {
    align-items: center;
    text-align: center;

}

@keyframes boxanima {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: #ffffff
    ;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: solid 1px rgb(141, 139, 139);
    z-index: 10;
}

nav div img {
    width: 200px;
    margin-left: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Kaisei Decol", serif;
    font-size: 20px;
}

nav ul {
    display: flex;
    gap: 45px;
    margin-right: 20px;

}

nav ul li {
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.main>div {
    margin: 50px;
}

.main>h3 {
    border-bottom: solid 2px black;
    text-align: center;
}

.main {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 30px;
}

.descri {
    font-size: 25px;
    margin-left: 20px
}

.card {
    border: 1px solid black;
    padding: 30px;
    box-shadow: #00000057 10px 9px 17px 5px;
    background-color: #787fa8;
    width: 500px;
    height: 50px;
    text-align: center;
    overflow: hidden;  
  position: relative;  
  }


.cards {
    display: flex;
    justify-content:space-around;
    gap: 30px;
    
}
.descri>li {
    list-style:square;
    text-align:left;
    }
.descri {
    /* max-height: 0;  
    opacity: 0;  
    overflow: hidden;  
    transition: max-height 0.5s ease, opacity 0.5s ease; */
    margin-top: 10px;
   
  }
  /* .card:hover .descri {
    max-height: 400px; 
    opacity: 1; 
  } */


@keyframes expand{
    from{
        height: 50px;
        .descri{
           opacity:0;
           }
    }
    to{
        height:600px;
      
        .descri{
           opacity:1;
           }
      
    }
}

.sci:hover{
    animation: expand 2s ease-in-out forwards;
   
}
.com:hover{
    animation: expand 2s ease-in-out forwards;
   
}
.art:hover{
    animation: expand 2s ease-in-out forwards;
}