.b1 {
    align-items: center;
    text-align: center;

}

@keyframes boxanima {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}




.menu>svg {
    display: none;
    align-items: center;
    justify-content: center;
}

.drop {
    display: none;
}

.menu {
    z-index: 100;
    position: relative;
}

.menu-button {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    display: block;
}

.menu input[type="checkbox"] {
    display: none;
}

.menu input[type="checkbox"]:checked~.dropdown {
    display: block;
}

.dropdown li {
    border-bottom: solid 1px rgb(234, 219, 219);
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #000000;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    height: auto;
    z-index: 10;
    font-size: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown a:hover {
    background-color: #555;
}

.menu {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: #ffffff;
}

header {
    position: sticky;
    top: 0;
    width: 98.9vw;
    background-color: #5dc6d400;
    border-bottom: solid 1px rgb(141, 139, 139);
    z-index: 1;
}

nav div img {
    width: 200px;
    margin-left: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a:hover {
    background-color: red;
}
nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Kaisei Decol", serif;
    padding: 5px 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}

nav ul {
    display: flex;
    gap: 25px;
    margin-right: 20px;

}

nav ul li {
    list-style: none;
  
}

.bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: brightness(40%);
}

.b:hover {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: boxanima 0.5s cubic-bezier(0, 0, 0, 0.97) forwards;
}

.b {
    border: 1px solid rgb(154, 154, 154);
    height: 180px;
    border-radius: 10px;
    width: 300px;
    margin: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    box-shadow: #00000057 10px 9px 17px 5px;
    background-color: #787fa8;
}

.home {
    width: 98vw;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.b2 {
    align-items: center;
    text-align: center;
}

.b>a {
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 35px;
    font-family: "Kaisei Decol", serif;
}

@media screen and (max-width:700px) {
    .home {
        flex-direction: column;
        width: 100vw;
    }

    nav,
    header {
        width: 100vw;
    }


    .bg {
        width: 100vw;
        height: 1300px;
    }

    nav ul {
        display: none;
        gap: 0;
        margin-right: 20px;

    }

    .menu {
        display: block;
        margin: 5px 10px;

    }

    .menu li {
        list-style: none;
    }

    .b {
        margin: 20px auto;
        width: 60%;
        height: 300px;
    }

    .b a {
        font-size: 40px;
    }

}