* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('accets/pexels-mikechie-esparagoza-749296-1742370.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

.img {
    width: 200px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    /* position: absolute; */
    top: 0;
    right: 0;
}


.logo {
    width: 300px;
    height: 200px;
    position: fixed;
    cursor: pointer;
    left: -20px;
}

nav button {
    margin-right: -200px;
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;


}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 10px;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.nav-links a:hover {
    background-color: red;
    border-radius: 5px;
}



.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
    padding-right: 20px;
}

.signin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 100px;
}

.header-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.header-content div {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 1000px;
}

.header-content p {
    font-size: 25px;
    font-weight: 300px;

}

.email-signup {
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;

}

.email-signup input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

.menu>svg {
    display: none;
}

.drop {
    display: none;
}

.menu {
    position: relative;
}

.menu-button {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    display: block;
}

.menu input[type="checkbox"] {
    display: none;
}

.menu input[type="checkbox"]:checked~.dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #000000;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    height: 500px;
    z-index: 10;
    font-size: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown a:hover {
    background-color: #555;
}

.menu {
    display: none;
}

@media (max-width: 1000px) {
    .header-content div {
        font-size: 100px;
        margin: 40px 0px;
        line-height: 1.2;
    }

    .header-content p {
        font-size: 50px;
    }

    .header-content {
        width: 800px;
        height: 1000px;

    }

    .nav-links {
        display: none;

    }

    .email-signup {
        flex-direction: column;
        background-color: rgba(245, 222, 179, 0);
    }

    .email-signup input {
        width: 80vw;
        padding: 20px 20px 20px 10px;
        border-radius: 200px;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .email-signup button {
        font-size: 40px;
    }

    nav button {
        height: 50px;
        font-size: 30px;
    }

    nav {
        align-items: right;
        justify-content: flex-end;
        height: 100px;
        width: 90vw;
    }

    .signin svg {
        width: 50px;
        height: 50px;
    }

    .signin {
        margin-right: 110px;
        margin-top: 40px;
    }

    .nav-links1>li>a {
        text-decoration: none;
        color: white;
    }

    .nav-links1 {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: block;
        margin-top: 40px;
        
    }

    .menu li {
        list-style: none;
    }
    .logo{
        width: 500px;
        height: 200px;
    }
}