@keyframes buttonani{
    from{
        }
    to{
        background-color: #070F2B;
        color: white;

    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: #ffffff;
}

header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border-bottom: solid 1px rgb(141, 139, 139);
    z-index: 1;
}

nav div img{
    width: 200px;
    margin-left: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Kaisei Decol", serif;
}
nav ul{
    display: flex;
    gap: 45px;
    margin-right: 20px;

}

nav ul li {
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.b {
    border: 1px solid rgba(0, 0, 0, 0.358);
    height: 500px;
    margin-top: 20px;

  
}

.home {
    width: 98vw;
    display: flex;
    margin: auto;
    font-size: 20px;
}

.b2 {
    width: 27%;
    align-items: center;
    text-align: center;
    background-color:#535C91;
    border-radius: 0px 10px 10px 0px;


}

.b2 input[type="text"] {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin: 10px;
    background-color: #FFF1DB;
}

.b2 label {

    font-family: sans-serif;
    margin: 10px;
}

.b1 {
    width: 75%;
    background-color: #9290C3;
    border-radius: 10px 0 0 10px;
}
.Signup{
    font-family: cursive;
    margin:70px 0;
    font-size: 35px;
}
.butn button:hover{
    animation: buttonani 0.1s linear forwards;
}
.butn button{
    border: none;
    background: #ffffff;
    padding: 10px 50px;
    border-radius: 10px;
    margin: 40px;
    cursor: pointer;

}